// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
header{
    background-color: darkkhaki;
    color: white;
    font-size: 20px;
    margin: 10px 10px;
    text-align: center;
}

body{
    color:darkgray;
    font-size: 18pt;
    margin: 10p 20px;
}

h1 {
    color: darkgray;
    font-size: 32pt;
    margin: 50p 0px;
}

footer{
    background-color: darkkhaki;
    color: white;
    font-size: 20px;
    margin: 10px 10px;
    text-align: center;
}
