<!DOCTYPE html>
<html>
  <head>
    <title>cards</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'cards', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="card">
        <%= yield %>
    </div>
  </body>
</html>
